<%= form_for(@indicador) do |f| %>

	<%= render partial: 'padrao_cadastros/erros', locals:{registro: @indicador} %>
	
	<div class="field">
		<%= f.label :nome %><br />
		<%= f.text_field :nome %>
	</div>
  
	<div class="field">
		<%= f.label :tipo %><br />
		<%= f.select :tipo, Indicador::TIPOS %>
	</div>
	
	<fieldset id="projetos" class="">
		<legend>Projetos</legend>
		<%= f.fields_for(:indicador_projetos) do |fip| %>
			<div class="field">
				<%= fip.hidden_field(:projeto_id) %>
				<%= fip.label(:valor, fip.object.projeto.nome) %><br />
				<%= fip.text_field(:valor) %>
			</div>	
		<% end %>
	</fieldset>
	
	<br/>
	
	<div class="actions">
		<%= f.submit 'Salvar' %>
	</div>
<% end %>

