<h1> Indicador <%= @indicador.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  	<b>Nome: </b><%= @indicador.nome %> <br/>
	<b>Tipo: </b><%= @indicador.tipo %>
</p>
<br/>
<br/>
<%= render 'indicador_projeto' %>