<h1> Indicador <%= @indicador_projeto.id %></h1>

<p>
  	<b>Nome Projeto: </b><%= @indicador_projeto.projeto.nome %> <br/>
	<b>Nome Indicador: </b><%= @indicador_projeto.indicador.nome %>
</p>
<%= link_to 'Edit', edit_indicador_projeto_path(@indicador_projeto) %> |
<%= link_to 'Back', indicador_projetos_path %>
<br/>
<br/>