<% if user_signed_in? -%>

<div class='item_menu <%= @menu_ativo == 'funcionalidades' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Funcionalidades', funcionalidades_url %>
</div>

<div class='item_menu <%= @menu_ativo == 'backlog' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Product Backlog', controller: :backlog %>
</div>

<div class='item_menu <%= @menu_ativo == 'produtos' ? 'item_menu_ativo' : '' %>'>
  <%= link_to 'Produtos', produtos_path %>
</div>

<div class='item_menu <%= @menu_ativo == 'pacotes' ? 'item_menu_ativo' : '' %>'>
  <%= link_to 'Pacotes', pacotes_path %>
</div>

<div class='item_menu <%= @menu_ativo == 'repositorio' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Repositorio', controller: :repositorio, action: :edit %>
</div>

<div class='item_menu <%= @menu_ativo == 'categorias_arquivos_fonte' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Categorias A.F.', categorias_arquivos_fonte_path %>
</div>

<div class='item_menu <%= @menu_ativo == 'categorias_arquivos_fonte' ? 'item_menu_ativo' : '' %>'>
	<%= current_user.name %>
</div>

<div class='item_menu <%= @menu_ativo == 'categorias_arquivos_fonte' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'My info', edit_user_registration_path %>
</div>

<div class='item_menu <%= @menu_ativo == 'categorias_arquivos_fonte' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
</div>

<% unless Produto.count == 1 %>
<div id="sai_do_produto_atual" class='item_menu'>
	<%= link_to 'Escolher produto', escolha_um_produto_path %>
</div>
<% end %>

<% end -%>