<div id="usuario_logado" class='tres_pontinhos'>
	<%= link_to current_user.name, edit_user_registration_path %>
</div>

<div id='produto_escolhido' class="tres_pontinhos">
	<%= link_to(@produto_escolhido.nome, escolha_um_produto_path, class: 'tres_pontinhos') if @produto_escolhido %>
</div>

<div class='item_menu <%= @menu_ativo == 'funcionalidades' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Funcionalidades', funcionalidades_url %>
</div>

<div class='item_menu <%= @menu_ativo == 'backlog' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Product Backlog', controller: :backlog %>
</div>

<div class='item_menu <%= @menu_ativo == 'produtos' ? 'item_menu_ativo' : '' %>'>
  <%= link_to 'Produtos', produtos_path %>
</div>

<div class='item_menu <%= @menu_ativo == 'pacotes' ? 'item_menu_ativo' : '' %>'>
  <%= link_to 'Pacotes', pacotes_path %>
</div>

<div class='item_menu <%= @menu_ativo == 'repositorio' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Repositorio', controller: :repositorio, action: :edit %>
</div>

<div class='item_menu <%= @menu_ativo == 'categorias_arquivos_fonte' ? 'item_menu_ativo' : '' %>'>
	<%= link_to 'Categorias A.F.', categorias_arquivos_fonte_path %>
</div>

<div class='item_menu'>
	<%= link_to 'sair', destroy_user_session_path, :method => :delete %>
</div>
